<div #modal class="modal fade" id="modalCharacter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Character</h5>
          
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">ID Character:</label>
              <input type="text" class="form-control" id="recipient-name" value="{{idCharacter}}" disabled>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Value:</label>
              <input type="text" class="form-control" id="message-text" value="{{valueCharacter}}">
            </div>
            <div class="form-group">
              <label for="date-text" class="col-form-label">Date:</label>
              <input type="text" class="form-control" id="date-text" value="{{dateCharacter }}">
            </div>
          </form>
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modalCharacter" (click)="closeModal()">Close</button>
        </div>
        -->
      </div>
    </div>
  </div>